html,body {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	background: black;
}

#beats {
	z-index: 10;
	margin: 0px;
	padding: 0px;
	display: table;
	width: 100%;
	height: 100%;
}

#beats li {
	display: table-cell;
	width: 25%;
}

#beats li.current {
	background: steelblue;
}

#beats.chorus li.current {
	background: orange;
}

#widget {
	z-index: 100;
	position: absolute;
	right: 10px;
	bottom: 70px;
	width: 250px;
	height: 200px;
}

#widget_ctrl {
	z-index: 100;
	display: table;
	position: absolute;
	right: 10px;
	bottom: 30px;
	padding: 0px;
	margin: 0px;
	width: 250px;
}

#widget_ctrl li {
	display: table-cell;
	background: rgba(40,40,40,0.5);
	color: white;
	height: 10px;
	font-size: 10px;
	line-height: 30px;
	padding: 0px 10px;
	text-align: center;
}

#widget_ctrl li:hover {
	cursor: pointer;
	background: orange;
}

.memo {
	z-index: 100;
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 250px;
	color: white;
	font-size: 11px;
	text-align: center;
}

#chord {
	z-index: 20;
	position: absolute;
	left: 0px; top: 0px;
	margin: 0px;
	padding: 0px;
	font-size: 130px;
	line-height: 100%;
	padding: 50px;
	color: white;
}

#chorus_alert {
	display: none;
	z-index: 20;
	position: absolute;
	right: 0px; top: 0px;
	margin: 0px;
	padding: 0px;
	font-size: 130px;
	line-height: 100%;
	padding: 50px;
	color: white;
}